/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@import url(./fonts.css);

/* // ================================================= */
/* // * Animamation for truck */
/* // ================================================= */
.container-car {
  display: flex;
  width: 80%;
  left: -30%;
  position: relative;
  animation: move 8s linear infinite;
}

.container-car img {
  position: absolute;
  width: 100%;
  top: -70px;            
}

@-webkit-keyframes move {
  from {
      left: -50%;
  }

  to {
      left: 100%;
  }
}
.font-hero-big {
    font-size: 80px;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 768px) {
    .font-hero-big {
        font-size: 144px;
    }
    .border-hero-blue {
      border-left: 20px solid #008BD2;
    }
    .container-car {
      top: -150px;
    }
}
@media (min-width: 1280px) {
  .font-hero-big {
    font-size: 294px;
}
  .container-car{
    top: -265px;
  }

}
@media (min-width: 1536px) {
  .container-car {
    top: -350px;
  }
}
